/* generate css for index.html */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #333;
}
p {
    color: #666;
    line-height: 1.6;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.image {
    /* text-align: center; */
    /* margin-bottom: 20px; */
    /* display: block; */
    /* margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%; */
}
